/*------------Header-------------*/
.App {
  text-align: center;
  display: grid;
}

.App-header {
  background-color: whitesmoke;
  height: auto;
  border-bottom-style: double;
  border-color: #C72626;
  border-bottom-width: medium;
  border-top-width: thick;
  border-top-style: solid;
  border-top-color: aliceblue
}

.Menu-bar {
  display: block;
  width: 100%;
  padding: 0.6rem;
  font-size: 1.6rem;
}

.Menu-bar a {
  margin-right: 2rem;
  margin-bottom: 0.5rem;
  text-decoration: blanchedalmond;
  margin-top: 0.5rem;
}

/*------------Home-------------*/
.App-title {
  font-size: 2.2em;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
}

.App-intro {
  font-size: 1.5em;
  text-align: center;
  padding: 1rem;
}

.block {
  border-width: 2rem;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
}

.block-2 {
  background-color: #fff2e5;
  padding: 2rem 4rem; 
  display: flex;
  flex-direction: column;
}

.block-3 {
  background-color: #fff2e5;
  padding: 1.5rem; 
}

.quota-box {
  padding: 2rem;
  margin: 1rem;
  font-size: 1.5rem;
}

.quota-box a {
  text-decoration: blanchedalmond;
  margin-left: 1rem;
}

/*------------Footer-------------*/
.App-footer {
  background-color: #990000;
  color: #fff;
  padding: .5rem;
}

/*------------Forms-------------*/
.form {
  background: #fff;
  margin: 2rem 4rem;
  padding: 2rem;
  box-shadow: 2px 2px 6px #888;
  display: block;
  box-sizing: border-box;
  line-height: 3rem;
  display: inline-grid;
}

h2 {
  padding: 0;
  margin: 0;
}

.email-title {
  padding: 2rem;
  text-align: inherit;
}

.nota {
  padding: 2rem 0.5rem 0.5rem;
  text-align: center;
}

.inputs {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.input-field {
  padding: 10px 20px;
  box-sizing: border-box;
}

.input-b {
  padding: 12px 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #566D96;
  width: 100%;
  box-sizing: border-box;
}

.input-p {
  margin: 0;
  padding: 5px 0px;
  min-height: 22px;
  box-sizing: border-box;
}

.form-link {
  text-align: center;
  margin-bottom: 15px;
}

.form-link a {
  text-decoration: blanchedalmond;
  margin-left: 0.5rem;
}

.form-btn {
  padding: 16px;
  cursor: pointer;
  color: #fff;
  font: 1rem "Helvetica Neue", arial, sans-serif;
  background-color: #4C72CA;
  justify-content: center;
  width: 50%;
}

.hora {
  margin-left: 0.8rem;
  padding: 7px 8px;
}

.dia {
  margin-left: 0.8rem;
  padding: 5px;
}

.select-field { 
  padding: 15px 25px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

.options {
  padding: 1rem;
  margin: 0.8rem;
}

.options label {
  display: inline-block;
  padding: 0rem 1rem 1rem 1rem;
}

.table-hour {
  background: #fff;
  margin: 1rem 2rem 3rem;
  padding: 2rem;
  box-shadow: 2px 2px 6px #888;
  display: inline-flex;
}
