.App {
  text-align: center;
}

.App-logo {
  height: auto;
}

.App-header {
  background-color: whitesmoke;
  height: auto;
  border-bottom-style: double;
  border-color: #C72626;
  border-width: medium;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.App-intro {
  font-size: large;
  text-align: center;
}

.Form {
  border-width: 2rem;
  padding: 4rem;
}

.App-footer {
  background-color: #990000;
  color: #fff;
  padding: 1.5rem;
}

.menu-bar {
  align-items: flex-end; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 6rem;
  width: 100%;
}

.menu-bar a {
  margin-right: 1rem;
  margin-bottom: 0.3rem;
}