.App {
  text-align: center;
}

.App-logo {
  height: auto;
}

.App-header {
  background-color: whitesmoke;
  height: auto;
  border-bottom-style: double;
  border-color: #C72626;
  border-bottom-width: medium;
  border-top-width: thick;
  border-top-style: solid;
  border-top-color: aliceblue
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.App-intro {
  font-size: large;
  text-align: center;
}

.Form {
  border-width: 2rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.Form-2 {
  background-color: #fff2e5;
  padding: 2rem; 
  display: flex;
  flex-direction: column;
}

.App-footer {
  background-color: #990000;
  color: #fff;
  padding: 1.5rem;
}

.menu-bar {
  display: flex;
  margin-left: 6rem;
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
}

a {
  margin-right: 2rem;
  margin-bottom: 0.5rem;
  text-decoration: blanchedalmond;
  margin-top: 0.5rem;
}

.quota-box {
  padding: 2rem;
  margin: 1rem;
  font-size: 1.5rem;
}
